<footer>
    <div class="container py-3">
        <div class="row text-center text-white">
            <div class="col-sm-12 social-icons mb-3">
                <a class="mx-1" href="https://www.instagram.com/cirquaremedia/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a class="mx-1" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                <a class="mx-1" href="https://www.facebook.com/cirquaremedia/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a class="mx-1" href="#" target="_blank"><i class="fa fa-dribbble"></i></a>
            </div>
            <div class="col-sm-12">
                &copy; Cirquare {{year}}
            </div>
        </div>
    </div>
    <span class="scroll-to-top" (click)="scrollToTop()" [ngClass]="{'show-scrollTop': windowScrolled}">
    <i class="fa fa-arrow-up"></i>
  </span>
</footer>

<!-- up-arrow -->