.text-white {
    color: #eeeeee;
}

.social-icons a {
    font-size: 24px;
    line-height: 38px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #dddddd;
    display: inline-block;
    background: #D65C00;
}

.social-icons a:hover {
    transition: all 0.5s ease;
    color: #ffffff;
}

.up-arrow {
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border: 1px solid #cccccc;
    /* color: #ffffff; */
    background: transparent;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 50px;
    line-height: 44px;
    cursor: pointer;
}

.up-arrow:hover {
    color: #ffffff;
    background: #000000;
    transition: all 0.3s ease-in;
    /* color: #333333; */
}

.scroll-to-top:hover {
    color: #ffffff;
    background: #D65C00;
    /* transition: all 0.3s ease-in; */
    /* color: #333333; */
}

.scroll-to-top {
    opacity: 0;
    transition: all .2s ease-in-out;
    width: 50px;
    height: 50px;
    border: 1px solid #cccccc;
    background: transparent;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    line-height: 44px;
    cursor: pointer;
   }

.show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
   }