<footer>
  <div class="container py-3">
    <div class="row text-center text-white">
      <div class="col-sm-12 social-icons mb-3">
        <a class="mx-1" href="#"><i class="fa fa-instagram"></i></a>
        <a class="mx-1" href="#"><i class="fa fa-twitter"></i></a>
        <a class="mx-1" href="#"><i class="fa fa-facebook"></i></a>
        <a class="mx-1" href="#"><i class="fa fa-dribbble"></i></a>
      </div>
      <div class="col-sm-12">
        &copy; Cirquare {{year}}
      </div>
    </div>
  </div>
  <span class="up-arrow">
    <i class="fa fa-arrow-up"></i>
  </span>
</footer>