/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

/* body{
    background: #CFB2F0;
    background: #F7F7F7;
} */

.bg-white {
    background: #ffffff;
}

.bg-gray {
    background: #F7F7F7;
}

.btn-cirquare {
    background: #D65C00;
    border-color: #D65C00;
    min-width: 80px;
    border-radius: 20px;
}

.btn-cirquare:hover{
    background: #D65C00;
    border-color: #D65C00;
}

.btn-cirquare:active, .btn-cirquare:focus {
    background: #D65C00;
    border-color: #D65C00;
    box-shadow: 0 0 0 0.2rem rgba(214, 92, 0, 0.5)
}

.btn-cirquare:not(:disabled):not(.disabled):active {
    background: #D65C00;
    border-color: #D65C00;
    box-shadow: 0 0 0 0.2rem rgba(214, 92, 0, 0.5)
}