<div class="row">
    <div id="carouselCirquare" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="assets/img/slider/bulb.jpg" alt="First slide">
          </div>
          <span class="scroll-arrow">
              <img src="assets/img/Cirquare - home - scroll.png"/>
          </span>
        </div>
      </div>
</div>
<div class="row">
    <div class="col-sm-12 bg-white">
        <div class="container my-5">
                <h4 class="text-color-orange">Our work</h4>
                <h5>Take a look at some of our best works</h5>
            <div class="row">
                <div class="col-sm-4">
                    <img src="assets/img/work-images/final/1.jpg"/>
                </div>
                <div class="col-sm-4">
                        <img src="assets/img/work-images/final/2.jpg"/>
                </div>
                <div class="col-sm-4">
                        <img src="assets/img/work-images/final/3.jpg"/>
                </div>
            </div>    
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        Project Idea
    </div>
</div>